.title {
    color: blue;
    margin-left:10%;

}

.poem{
    margin-left: 10%;
    margin-right: 10%;
    border: 10px;
    border-style: groove;
    padding: 20px;
    
}

body{
    background-color:orange
}